.alt{
	width: 100%;
	height: 1000px;
	background-color:pink; 
	background-image: url(../img/Game.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.one{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_1th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.two{
	width: 100%;
	height: 1000px;
	background-color:black ;	
	background-image: url(../img/Game_bg_2th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.three{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_3th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.four{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_4th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.five{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_5th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.six{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_6th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.seven{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_7th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.eight{
	width: 100%;
	height: 1000px;
	background-color:black;
	background-image: url(../img/Game_bg_8th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.nine{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_9th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.ten{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_10th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.eleven{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_11th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.twelve{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_12th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.thirteen{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_13th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.fourteen{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_14th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.fifteen{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_15th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.sixteen{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_16th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.seventeen{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_17th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.eightenn{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_18th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.nineteen{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_19th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.twenty{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_20th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.twenty1{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_21th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.twenty2{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_22th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.twenty3{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_23th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.twenty4{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_24th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.twenty5{
	width: 100%;
	height: 1000px;
	background-color:black ;
	background-image: url(../img/Game_bg_25th.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}
.last{
	width: 100%;
	height: 1000px;
	background-color:pink;
	background-image: url(../img/Game_bg_last.png);
	background-repeat: no-repeat;
	background-position: 300px 100px;
	background-attachment:fixed;
}